<!-- <p>
  #{{ (invoice$ | async)?.id }} || {{ (invoice$ | async)?.clientName }} ||
  {{ (invoice$ | async)?.status }}
</p>

@if (invoice$ | async; as invoice) {
<button (click)="deleteInvoice(invoice.id)">Delete</button>
<button (click)="markAsPaid(invoice.id)">Mark as paid</button>
<button (click)="markAsPending(invoice.id)">Mark as pending</button>
} @if (invoice$ | async; as invoice) {
<app-invoice-form [invoice]="invoice" />
} -->

<div class="container">
  <button [routerLink]="['/']">
    <img src="../../../assets/images/icon-arrow-left.svg" alt="Left Icon" />
    Go Back
  </button>

  <div class="invoice-options">
    <div class="status">
      Status
      <div [class]="(invoice$ | async)?.status">
        <span class="point"></span>
        {{ (invoice$ | async)?.status | titlecase }}
      </div>
    </div>

    <div class="crud-btns">
      @if (invoice$ | async; as invoice) {
      <button class="edit-btn">Edit</button>
      <button class="delete" (click)="deleteInvoice(invoice.id)">Delete</button>
      <button class="markAsPaid" (click)="markAsPaid(invoice.id)">
        Mark as Paid
      </button>
      }
    </div>
  </div>

  @if (invoice$ | async; as invoice) {

  <app-invoice [invoice]="invoice" />
  }
</div>
