<div class="header-options">
  <div class="info">
    <h1>Invoices</h1>
    <p>There are {{ count.paid + count.pending + count.draft }} invoices</p>
  </div>

  <div class="options">
    <div class="filter-container">
      <button class="select-filter">
        Filter
        <img
          src="../../../assets/images/icon-arrow-down.svg"
          alt="Chevron icon"
        />
      </button>
      <div class="filter-options">
        <label>
          <input
            [checked]="(filters$ | async)?.paid"
            type="checkbox"
            name="paid"
            (change)="updateFilter('paid', $event)"
          />
          Paid
        </label>
        <label>
          <input
            [checked]="(filters$ | async)?.pending"
            type="checkbox"
            name="pending"
            (change)="updateFilter('pending', $event)"
          />
          Pending
        </label>
        <label>
          <input
            [checked]="(filters$ | async)?.draft"
            type="checkbox"
            name="draft"
            (change)="updateFilter('draft', $event)"
          />
          Draft
        </label>
      </div>
    </div>

    <button class="create">
      <div class="plus">
        <img src="../../../assets/images/icon-plus.svg" alt="Plus Button" />
      </div>
      New
    </button>
  </div>
</div>
