<div class="invoice-form">
  <button>
    <img src="../../../assets/images/icon-arrow-left.svg" alt="Left Icon" />
    Go Back
  </button>

  @if (invoice) {
  <h1>Edit Invoice</h1>
  } @else {
  <h1>New Invoice</h1>
  }

  <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <div formGroupName="senderAddress">
      <h3 class="subtitle">Bill From</h3>
      <div class="form-group">
        <div>
          <label for="senderStreet">Street Address</label>
          <input id="senderStreet" type="text" formControlName="street" />
        </div>
        <div class="small">
          <div>
            <label for="senderCity">City</label>
            <input id="senderCity" type="text" formControlName="city" />
          </div>
          <div>
            <label for="senderPostCode">Post Code</label>
            <input id="senderPostCode" type="text" formControlName="postCode" />
          </div>
        </div>
        <div>
          <label for="senderCountry">Country</label>
          <input id="senderCountry" type="text" formControlName="country" />
        </div>
      </div>
    </div>

    <!-- Bill To -->
    <h3 class="subtitle">Bill To</h3>
    <div class="form-group">
      <div>
        <label for="clientName">Client Name</label>
        <input id="clientName" type="text" formControlName="clientName" />
      </div>

      <div>
        <label for="clientEmail">Client Email</label>
        <input id="clientEmail" type="email" formControlName="clientEmail" />
      </div>

      <div formGroupName="clientAddress" class="client">
        <div>
          <label for="clientStreet">Street Address</label>
          <input id="clientStreet" type="text" formControlName="street" />
        </div>
        <div class="small">
          <div>
            <label for="clientCity">City</label>
            <input id="clientCity" type="text" formControlName="city" />
          </div>
          <div>
            <label for="clientPostCode">Post Code</label>
            <input id="clientPostCode" type="text" formControlName="postCode" />
          </div>
        </div>
        <div>
          <label for="clientCountry">Country:</label>
          <input id="clientCountry" type="text" formControlName="country" />
        </div>
      </div>
    </div>

    <div>
      <label for="createdAt">Invoice Date:</label>
      <input id="createdAt" type="date" formControlName="createdAt" />
    </div>

    <div>
      <label for="paymentTerms">Payment Terms:</label>
      <select id="paymentTerms" formControlName="paymentTerms">
        <option value="">Select payment terms</option>
        <option
          *ngFor="let option of paymentTermsOptions"
          [value]="option.value"
        >
          {{ option.label }}
        </option>
      </select>
    </div>

    <div>
      <label for="description">Description:</label>
      <input id="description" type="text" formControlName="description" />
    </div>

    <h3 class="title">Item List</h3>
    <div formArrayName="items">
      <div
        *ngFor="let item of items.controls; let i = index"
        [formGroupName]="i"
      >
        <div>
          <label [for]="'itemName' + i">Item Name</label>
          <input [id]="'itemName' + i" type="text" formControlName="name" />
        </div>
        <div class="item-smalls">
          <div>
            <label [for]="'itemQuantity' + i">Qty.</label>
            <input
              [id]="'itemQuantity' + i"
              type="number"
              formControlName="quantity"
              (change)="calculateItemTotal(i)"
            />
          </div>
          <div>
            <label [for]="'itemPrice' + i">Price</label>
            <input
              [id]="'itemPrice' + i"
              type="number"
              formControlName="price"
              (change)="calculateItemTotal(i)"
            />
          </div>
          <div>
            <label [for]="'itemTotal' + i">Total</label>
            <input
              [id]="'itemTotal' + i"
              type="number"
              formControlName="total"
              readonly
              class="total-input"
            />
          </div>
          <button type="button" (click)="removeItem(i)">
            <img
              src="../../../assets/images/icon-delete.svg"
              alt="Delete Icon"
            />
          </button>
        </div>
      </div>
    </div>

    <button type="button" (click)="addItem()" class="new-item">
      +Add New Item
    </button>

    <div class="buttons">
      @if (!invoice) {
      <button class="discard">Discard</button>
      }
      <button class="save-draft" type="button" (click)="saveAsDraft()">
        Save as Draft
      </button>
      <button class="save" type="submit" [disabled]="!invoiceForm.valid">
        {{ invoice ? "Save Changes" : "Save & Send" }}
      </button>
    </div>
  </form>
</div>
