<div
  class="overlay"
  [style]="{ display: modalService.isOpened ? 'block' : 'none' }"
  (click)="modalService.closeModal()"
></div>
<div class="invoice-form">
  <button class="navigate" (click)="modalService.closeModal()">
    <img src="../../../assets/images/icon-arrow-left.svg" alt="Left Icon" />
    Go Back
  </button>

  @if (invoice) {
  <h1>Edit #{{ invoice.id }}</h1>
  } @else {
  <h1>New Invoice</h1>
  }

  <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <div formGroupName="senderAddress">
      <h3 class="subtitle">Bill From</h3>
      <div class="form-group">
        <div>
          <label for="senderStreet">Street Address</label>
          <input
            [class.is-invalid]="isFieldInvalid('senderAddress.street')"
            id="senderStreet"
            type="text"
            formControlName="street"
          />
          <div
            class="invalid-feedback"
            *ngIf="isFieldInvalid('senderAddress.street')"
          >
            {{ getErrorMessages("senderAddress.street") }}
          </div>
        </div>
        <div class="location">
          <div class="small">
            <div>
              <label for="senderCity">City</label>
              <input
                [class.is-invalid]="isFieldInvalid('senderAddress.city')"
                id="senderCity"
                type="text"
                formControlName="city"
              />
              <div
                class="invalid-feedback"
                *ngIf="isFieldInvalid('senderAddress.city')"
              >
                {{ getErrorMessages("senderAddress.city") }}
              </div>
            </div>
            <div>
              <label for="senderPostCode">Post Code</label>
              <input
                [class.is-invalid]="isFieldInvalid('senderAddress.postCode')"
                id="senderPostCode"
                type="text"
                formControlName="postCode"
              />
              <div
                class="invalid-feedback"
                *ngIf="isFieldInvalid('senderAddress.postCode')"
              >
                {{ getErrorMessages("senderAddress.postCode") }}
              </div>
            </div>
          </div>
          <div>
            <label for="senderCountry">Country</label>
            <input
              [class.is-invalid]="isFieldInvalid('senderAddress.country')"
              id="senderCountry"
              type="text"
              formControlName="country"
            />
            <div
              class="invalid-feedback"
              *ngIf="isFieldInvalid('senderAddress.country')"
            >
              {{ getErrorMessages("senderAddress.country") }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bill To -->
    <h3 class="subtitle">Bill To</h3>
    <div class="form-group">
      <div>
        <label for="clientName">Client Name</label>
        <input
          [class.is-invalid]="isFieldInvalid('clientName')"
          id="clientName"
          type="text"
          formControlName="clientName"
        />
        <div class="invalid-feedback" *ngIf="isFieldInvalid('clientName')">
          {{ getErrorMessages("clientName") }}
        </div>
      </div>

      <div>
        <label for="clientEmail">Client Email</label>
        <input
          [class.is-invalid]="isFieldInvalid('clientEmail')"
          id="clientEmail"
          type="email"
          formControlName="clientEmail"
        />
        <div class="invalid-feedback" *ngIf="isFieldInvalid('clientEmail')">
          {{ getErrorMessages("clientEmail") }}
        </div>
      </div>

      <div formGroupName="clientAddress" class="client">
        <div>
          <label for="clientStreet">Street Address</label>
          <input
            [class.is-invalid]="isFieldInvalid('clientAddress.street')"
            id="clientStreet"
            type="text"
            formControlName="street"
          />
          <div
            class="invalid-feedback"
            *ngIf="isFieldInvalid('clientAddress.street')"
          >
            {{ getErrorMessages("clientAddress.street") }}
          </div>
        </div>
        <div class="small">
          <div>
            <label for="clientCity">City</label>
            <input
              [class.is-invalid]="isFieldInvalid('clientAddress.city')"
              id="clientCity"
              type="text"
              formControlName="city"
            />
            <div
              class="invalid-feedback"
              *ngIf="isFieldInvalid('clientAddress.city')"
            >
              {{ getErrorMessages("clientAddress.city") }}
            </div>
          </div>
          <div>
            <label for="clientPostCode">Post Code</label>
            <input
              [class.is-invalid]="isFieldInvalid('clientAddress.postCode')"
              id="clientPostCode"
              type="text"
              formControlName="postCode"
            />
            <div
              class="invalid-feedback"
              *ngIf="isFieldInvalid('clientAddress.postCode')"
            >
              {{ getErrorMessages("clientAddress.postCode") }}
            </div>
          </div>
        </div>
        <div>
          <label for="clientCountry">Country</label>
          <input
            [class.is-invalid]="isFieldInvalid('clientAddress.country')"
            id="clientCountry"
            type="text"
            formControlName="country"
          />
          <div
            class="invalid-feedback"
            *ngIf="isFieldInvalid('clientAddress.country')"
          >
            {{ getErrorMessages("clientAddress.country") }}
          </div>
        </div>
      </div>
    </div>

    <div class="date-terms">
      <div>
        <label for="createdAt">Invoice Date</label>
        <input id="createdAt" type="date" formControlName="createdAt" />
        <div class="invalid-feedback" *ngIf="isFieldInvalid('createdAt')">
          {{ getErrorMessages("createdAt") }}
        </div>
      </div>

      <div>
        <label for="paymentTerms">Payment Terms</label>
        <div class="payment-terms">
          <select id="paymentTerms" formControlName="paymentTerms">
            <option value="" disabled selected>Select payment terms</option>
            <option
              *ngFor="let option of paymentTermsOptions"
              [value]="option.value"
            >
              {{ option.label }}
            </option>
          </select>
          <img
            src="../../../assets/images/icon-arrow-down.svg"
            alt="Arrow down"
          />
        </div>
      </div>
    </div>

    <div>
      <label for="description">Description:</label>
      <input
        [class.is-invalid]="isFieldInvalid('description')"
        id="description"
        type="text"
        formControlName="description"
      />
      <div class="invalid-feedback" *ngIf="isFieldInvalid('description')">
        {{ getErrorMessages("description") }}
      </div>
    </div>

    <h3 class="title">Item List</h3>
    <div formArrayName="items">
      <div
        *ngFor="let item of items.controls; let i = index"
        [formGroupName]="i"
      >
        <div>
          <label [for]="'itemName' + i">Item Name</label>
          <input
            [class.is-invalid]="isFieldInvalid('items.' + i + '.name')"
            [id]="'itemName' + i"
            type="text"
            formControlName="name"
          />
          <div
            class="invalid-feedback"
            *ngIf="isFieldInvalid('items.' + i + '.name')"
          >
            {{ getErrorMessages("items." + i + ".name") }}
          </div>
        </div>
        <div class="item-smalls">
          <div>
            <label [for]="'itemQuantity' + i">Qty.</label>
            <input
              [id]="'itemQuantity' + i"
              type="number"
              formControlName="quantity"
              (change)="calculateItemTotal(i)"
            />
          </div>
          <div>
            <label [for]="'itemPrice' + i">Price</label>
            <input
              [id]="'itemPrice' + i"
              type="number"
              formControlName="price"
              (change)="calculateItemTotal(i)"
            />
          </div>
          <div>
            <label [for]="'itemTotal' + i">Total</label>
            <input
              [id]="'itemTotal' + i"
              type="number"
              formControlName="total"
              readonly
              class="total-input"
            />
          </div>
          <button class="remove-item" type="button" (click)="removeItem(i)">
            <svg width="13" height="16" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M11.583 3.556v10.666c0 .982-.795 1.778-1.777 1.778H2.694a1.777 1.777 0 01-1.777-1.778V3.556h10.666zM8.473 0l.888.889h3.111v1.778H.028V.889h3.11L4.029 0h4.444z"
                fill="#888EB0"
                fill-rule="nonzero"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <button type="button" (click)="addItem()" class="new-item">
      +Add New Item
    </button>

    <div class="buttons">
      @if (!invoice) {
      <button type="button" class="discard" (click)="discardChanges()">
        Discard
      </button>
      <button class="save-draft" type="button" (click)="saveAsDraft()">
        Save as Draft
      </button>
      } @if (invoice) {
      <button class="discard" (click)="modalService.closeModal()">
        Cancel
      </button>
      }
      <button class="save" type="submit">
        {{ invoice ? "Save Changes" : "Save & Send" }}
      </button>
    </div>
  </form>
</div>
