@import '../../../styles'

.overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: black
    opacity: 0.5
    z-index: -1

.invoice-form
    // border: solid 1px pink
    overflow: scroll
    height: 100%
    max-width: 616px
    padding: 104px 24px 24px 24px

    @media (min-width: 750px)
        border-top-right-radius: 20px
        border-bottom-right-radius: 20px

    @media (min-width: 1024px)
        padding: 56px 56px 56px 156px

    button
        border: none
        cursor: pointer

    .navigate
        font-size: 14px
        font-weight: 500
        border: none
        background: none
        display: flex
        align-items: center
        gap: 23px
        cursor: pointer

        @media (min-width: 750px)
            display: none

    h1
        margin: 24px 0 24px 0

    form
        .subtitle
            font-size: 14px
            font-weight: 500
            color: $clr-purple-accent
            margin: 0 0 24px 0

        label 
            font-size: 14px
            display: block
            margin: 0 0 10px 0

        input
            width: 100%

        input[type="text"], input[type="email"], input[type="date"]
            padding: 17px 20px
            border-radius: 4px
            outline: none

            &:focus-visible
                outline: 1px solid $clr-purple-accent

        input[type="number"]
            border-radius: 4px
            outline: none
            padding: 17px 10px

        .form-group
            // border: solid 1px pink
            display: flex
            flex-direction: column
            gap: 24px
            margin: 0 0 40px 0

            .location
                // border: solid 1px pink
                display: flex
                flex-direction: column
                gap: 24px

                @media (min-width: 580px)
                    flex-direction: row

            .small
                display: flex
                justify-content: space-between
                gap: 23px

                div
                    width: 100%

            .client
                .small
                    margin: 24px 0

        .date-terms
            display: flex
            flex-direction: column
            gap: 24px
            margin: 0 0 24px 0
            // border: solid 1px pink
                
            
            div
                width: 100%

            @media (min-width: 680px)
                flex-direction: row
                justify-content: space-between

            .payment-terms
                display: flex
                align-items: center
                gap: 16px

                img
                    margin: -40px

                option
                    border: solid 1px pink

            input
                width: 100%

            select
                width: 100%
                padding: 17px 20px
                appearance: none
                // border: solid 1px $clr-gray-100
                border-radius: 4px
                outline: none

                &:focus-visible
                    outline: 1px solid $clr-purple-accent

        .items-grid
            display: grid
            grid-template-columns: 1fr repeat(2, 2fr) 1fr
            grid-template-rows: repeat(2, 1fr)
            grid-column-gap: 16px
            grid-row-gap: 24px
            margin: 0 0 48px 0

            @media (min-width: 650px)
                grid-template-columns: 3fr 1fr repeat(2, 1fr) 1fr
                grid-template-rows: 1fr
                grid-column-gap: 16px
                grid-row-gap: 24px

            div:nth-child(1)
                grid-area: 1 / 1 / 2 / 5

            div:nth-child(2)
                grid-area: 2 / 1 / 3 / 2

            div:nth-child(3)
                grid-area: 2 / 2 / 3 / 3

            div:nth-child(4)
                grid-area: 2 / 3 / 3 / 4

            div:nth-child(5)
                grid-area: 2 / 4 / 3 / 5

            
            @media (min-width: 650px)
                div:nth-child(1)  
                    grid-area: 1 / 1 / 3 / 2 !important
                div:nth-child(2) 
                    grid-area: 1 / 2 / 3 / 3 !important
                div:nth-child(3) 
                    grid-area: 1 / 3 / 3 / 4 !important
                div:nth-child(4) 
                    grid-area: 1 / 4 / 3 / 5 !important
                div:nth-child(5) 
                    grid-area: 1 / 5 / 3 / 6 !important

        input
            appearance: none
            outline: none

        .total-input
            border: none

        button.new-item
            display: block
            width: 100%
            padding: 18px 0
            border-radius: 24px
            margin-bottom: 80px
            border: none

        .remove-item
            border: none
            background: none
            display: flex
            justify-content: center
            align-items: flex-end

            &:hover svg path
                fill: $clr-red-500

        .buttons
            position: fixed
            bottom: 0
            left: 0
            max-width: 616px
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            gap: 8px
            box-shadow: 0 -10px 10px -10px rgba(72, 84, 159, 0.10)
            padding: 20px 24px

            @media (min-width: 750px)
                border-top-right-radius: 20px
                border-bottom-right-radius: 20px
                justify-content: right
                padding: 20px 56px

            button
                padding: 17px 16px
                border-radius: 24px
                border: none
                cursor: pointer

            .save-draft
                background-color: $clr-gray-400
                color: $clr-gray-100

            .save
                background-color: $clr-purple-accent
                color: white

                &:hover
                    background-color: $clr-purple-light

        .title
            margin: 66px 0 24px 0

    input.is-invalid 
        border-color: $clr-red-500 !important

    .invalid-feedback 
        color: $clr-red-500
        font-size: 12px
        margin-top: 10px



            
        