<div class="panel">
  <div class="logo">
    <img src="../../../assets/images/logo.svg" alt="Logo" />
    <span class="overlap"></span>
  </div>

  <div class="controls">
    <div class="theme-switcher">
      <button class="toggle-theme" (click)="onToggleTheme()">
        @if ((themeMode$ | async) === 'light') {
        <img
          src="../../../assets/images/icon-moon.svg"
          alt="Moon Icon"
          class="moon"
        />
        } @else {
        <img
          src="../../../assets/images/icon-sun.svg"
          alt="Sun Icon"
          class="sun"
        />
        }
      </button>
    </div>
    <div class="avatar">
      <img src="../../../assets/images/image-avatar.jpg" alt="User Avatar" />
    </div>
  </div>
</div>
