/* You can add global styles to this file, and also import other style files */

// primaries
$clr-purple-600: #7C5DFA
$clr-purple-50: #9277FF
$clr-gray-800: #1E2139
$clr-gray-900: #252945
$clr-gray-100: #DFE3FA
$clr-gray-300: #888EB0
$clr-blueGray-400: #7E88C3
$clr-gray-900: #0C0E16
$clr-red-500: #EC5757
$bg-white: #F8F8FB
$clr-gray-900: #141625

*
    margin: 0
    padding: 0
    box-sizing: border-box

body, button
    font-family: "League Spartan", sans-serif