/* You can add global styles to this file, and also import other style files */

// primaries
$clr-purple-accent: #7C5DFA
$clr-purple-light: #9277FF
$clr-red-500: #EC5757
$bg-white: #F8F8FB
$bg-dark: #141625
$clr-blueGray-400: #7E88C3
$clr-gray-100: #DFE3FA
$clr-gray-200: #494E6E
$clr-gray-300: #888EB0
$clr-gray-400: #373B53
$clr-gray-700: #252945
$clr-gray-800: #1E2139
$clr-gray-1000: #0C0E16

*
    margin: 0
    padding: 0
    box-sizing: border-box

body, button
    font-family: "League Spartan", sans-serif

body
    height: 100vh

body.light-mode
    background-color: $bg-white 

body.dark-mode
    background-color: $bg-dark 

