/* You can add global styles to this file, and also import other style files */

// primaries
$clr-purple-accent: #7C5DFA
$clr-purple-light: #9277FF
$clr-red-500: #EC5757
$bg-white: #F8F8FB
$bg-dark: #141625
$clr-blueGray-400: #7E88C3
$clr-gray-100: #DFE3FA
$clr-gray-200: #494E6E
$clr-gray-300: #888EB0
$clr-gray-400: #373B53
$clr-gray-700: #252945
$clr-gray-800: #1E2139
$clr-gray-1000: #0C0E16

$status-green: #33D69F
$status-orange: #FF8F00
$status-gray: #F3F3F5

$green-lighter: #F3FCF9
$orange-lighter: #FFF8F0

$status-green-bg-dark: #1F2B3F
$status-orange-bg-dark: #2B2736
$status-draft-bg-dark: #292C44

*
    margin: 0
    padding: 0
    box-sizing: border-box

body, button
    font-family: "League Spartan", sans-serif

body
    height: 100vh
    transition: 0.2s ease-in-out

[data-theme="light"]
    $background-color: $bg-white
    $text-primary: $clr-blueGray-400

    body 
        background-color: $background-color
        color: $text-primary

    h1
        color: $clr-gray-1000

    .bold
        color: $clr-gray-1000

    .invoice-card
        background-color: white

        .paid
            color: $status-green
            background-color: $green-lighter

            .point
                background-color: $status-green

        .pending
            color: $status-orange
            background-color: $orange-lighter

            .point
                background-color: $status-orange

        .draft
            color: $clr-gray-400
            background: $status-gray

            .point
                background-color: $clr-gray-400

    .filter-options
        background-color: white
        box-shadow: 0 10px 20px rgba(72, 84, 159, 0.25)

        label
            color: $clr-gray-1000

[data-theme="dark"] 
    $background-color: $bg-dark
    $text-primary: $clr-gray-100

    body
        background-color: $background-color
        color: $text-primary

    button
        color: $text-primary

    h1
        color: white

    a
        color: $text-primary

    .invoice-card
        background-color: $clr-gray-800

        .paid
            color: $status-green
            background-color: $status-green-bg-dark

            .point
                background-color: $status-green

        .pending
            color: $status-orange
            background-color: $status-orange-bg-dark

            .point
                background-color: $status-orange

        .draft
            color: $clr-gray-100
            background: $status-draft-bg-dark

            .point
                background-color: $clr-gray-100

    .filter-options
        background-color: $clr-gray-700
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25)
